body {
  font-family: Arial, sans-serif;
}

.phonebook {
  min-width: 220px;
  max-width: 500px;
  margin: 40px auto;
}

h1,
h2 {
  text-align: center;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
}

form {
  padding: 20px;
  margin-bottom: 20px;
}

.delete_button {
  margin-left: 15px;
  &:hover {
    background-color: rgb(232, 84, 84);
  }
}

.contacts {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 280px;
  max-width: 680px;
  margin: 40px auto;
  gap: 20px;
}

.loader {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: rgb(201, 228, 248);
}

.home_page_img {
  display: grid;
  height: 100vh;
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
}
