body {
  font-family: Arial, sans-serif;
}

.phonebook {
  min-width: 220px;
  max-width: 500px;
  margin: 40px auto;
}

h1,
h2 {
  text-align: center;
}

form {
  padding: 20px;
  margin-bottom: 20px;
}

.delete_button {
  margin-left: 15px;
  &:hover {
    background-color: rgb(232, 84, 84);
  }
}

.contacts {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 280px;
  max-width: 680px;
  margin: 40px auto;
  gap: 20px;
}
